@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.topbar, .header, .menu, .recent-products-list, .recent-price, .featured-products-list, .featured-price, .sponsors, .sponsor-list, .footer, .bottombar {
  zoom: 1;
}
.topbar:before, .header:before, .menu:before, .recent-products-list:before, .recent-price:before, .featured-products-list:before, .featured-price:before, .sponsors:before, .sponsor-list:before, .footer:before, .bottombar:before {
  content: "";
  display: table;
}
.topbar:after, .header:after, .menu:after, .recent-products-list:after, .recent-price:after, .featured-products-list:after, .featured-price:after, .sponsors:after, .sponsor-list:after, .footer:after, .bottombar:after {
  content: "";
  display: table;
  clear: both;
}

.slider {
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
}

body {
  background-image: url("../images/bg.png");
}

.wrap {
  width: 1180px;
  margin: 0 auto;
}

.highlight {
  color: #9cb929;
}

.green-bar {
  background-color: #9cb929;
  width: 100%;
  height: 2px;
}

.scroll-btn {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
  width: 55px;
  height: 55px;
  position: fixed;
  right: 200px;
  bottom: 0px;
}
.scroll-btn:hover {
  opacity: 0.4;
}

.topbar {
  background-color: #FFF;
}

.topbar-left {
  float: left;
  padding: 10px 0px 10px 100px;
}
.topbar-left p {
  display: inline;
  color: #7b7b7b;
}
.topbar-left a:hover {
  color: pink;
}
.topbar-left select {
  margin-right: 30px;
}

.topbar-right {
  float: right;
  padding: 10px 50px 10px 0px;
}
.topbar-right li {
  display: inline;
}
.topbar-right a {
  color: #7b7b7b;
  margin-right: 10px;
}
.topbar-right a:hover {
  color: pink;
}
.topbar-right span {
  color: #7b7b7b;
  margin-right: 5px;
}

.header {
  margin-bottom: 35px;
}
.header .logo {
  padding: 40px 0px 10px 100px;
  float: left;
}
.header .logo a {
  background-image: url("../images/logo.png");
  width: 314px;
  height: 55px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -99999px;
}

.header-right {
  float: right;
  margin-top: 45px;
}
.header-right input {
  width: 202px;
  height: 38px;
  padding-left: 10px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.header-right button {
  background-image: url("../images/search.png");
  width: 40px;
  height: 40px;
  padding: 13px;
  margin-left: -6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.header-right button:hover {
  opacity: 0.4;
}

.share {
  display: inline-block;
  position: relative;
  top: 12px;
}
.share li {
  display: inline;
}
.share a {
  display: inline-block;
}
.share a:hover {
  opacity: 0.4;
}
.share .rss {
  background-image: url("../images/rss.png");
  width: 40px;
  height: 40px;
}
.share .pinterest {
  background-image: url("../images/pinterest.png");
  width: 40px;
  height: 40px;
}
.share .facebook {
  background-image: url("../images/facebook.png");
  width: 40px;
  height: 40px;
}
.share .twitter {
  background-image: url("../images/twitter.png");
  width: 40px;
  height: 40px;
}
.share .dribble {
  background-image: url("../images/dribble.png");
  width: 40px;
  height: 40px;
}

.menu {
  padding: 20px 0px;
  margin-bottom: 60px;
  background-image: url("../images/separator.png"), url("../images/separator.png");
  background-repeat: repeat-x, repeat-x;
  background-position: top, bottom;
}
.menu ul {
  float: left;
  padding-top: 30px;
}
.menu li {
  display: inline;
  font-size: 18px;
  margin-right: 35px;
}
.menu li a:hover {
  color: #9cb929;
}

.cart-btn {
  float: right;
  margin: 10px 0px;
  padding: 25px 10px 15px 40px;
  vertical-align: middle;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: url("../images/cart.png"), linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
  background-repeat: no-repeat;
  background-position: 10% 50%;
}
.cart-btn:hover {
  opacity: 0.4;
}
.cart-btn span {
  display: inline;
  position: relative;
  top: -5px;
}

.slider {
  background-color: #FFF;
  margin-bottom: 60px;
}

.quote {
  padding: 10px;
}
.quote span {
  font-size: 32px;
  margin-right: 100px;
  vertical-align: middle;
}
.quote button {
  width: 180px;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
}
.quote button:hover {
  opacity: 0.4;
}

.recent-products-list {
  margin-bottom: 65px;
}

.recent-title {
  margin-bottom: 20px;
  background-image: url("../images/separator.png");
  background-repeat: repeat-x;
  background-position: center;
}
.recent-title h2 {
  font-size: 24px;
  display: inline;
  margin-bottom: 20px;
}
.recent-title button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
  float: right;
}
.recent-title button:hover {
  opacity: 0.4;
}

.recent-products li {
  width: 277px;
  float: left;
  background-color: #fff;
  margin-right: 18px;
}

.recent-price {
  position: relative;
  padding: 10px 0px;
  border-bottom: 2px solid #e7e7e7;
}
.recent-price .sale {
  position: absolute;
  top: 10px;
  left: 10px;
}
.recent-price span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 15px 0px 0px 10px;
  margin-right: 80px;
}
.recent-price button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #878787 40%, #878787 100%);
  padding: 10px;
  float: right;
  font-size: 12px;
}
.recent-price button:hover {
  opacity: 0.4;
}

.recent-subtitle {
  padding: 10px;
  font-size: 20px;
}

.recent-introduction {
  display: block;
  padding: 10px;
  border-bottom: 2px solid #e7e7e7;
  font-size: 14px;
  line-height: 1.8;
  color: #808080;
}

.recent-view {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  color: #9cb929;
}
.recent-view:hover {
  opacity: 0.4;
}

.featured-products-list {
  margin-bottom: 65px;
}

.featured-title {
  margin-bottom: 20px;
  background-image: url("../images/separator.png");
  background-repeat: repeat-x;
  background-position: center;
}
.featured-title h2 {
  font-size: 24px;
  display: inline;
  margin-bottom: 20px;
}
.featured-title button {
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
}
.featured-title button:hover {
  opacity: 0.4;
}

.featured-products li {
  width: 277px;
  float: left;
  background-color: #fff;
  margin-right: 18px;
}

.featured-price {
  position: relative;
  padding: 10px 0px;
  border-bottom: 2px solid #e7e7e7;
}
.featured-price .sale {
  position: absolute;
  top: 10px;
  left: 10px;
}
.featured-price span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 15px 0px 0px 10px;
  margin-right: 80px;
}
.featured-price button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #878787 40%, #878787 100%);
  padding: 10px;
  float: right;
  font-size: 12px;
}
.featured-price button:hover {
  opacity: 0.4;
}

.featured-subtitle {
  padding: 10px;
  font-size: 20px;
}

.featured-introduction {
  padding: 10px;
  border-bottom: 2px solid #e7e7e7;
  font-size: 14px;
  line-height: 1.8;
  color: #808080;
}

.featured-view {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  color: #9cb929;
}
.featured-view:hover {
  opacity: 0.4;
}

.sponsor-title {
  margin-bottom: 20px;
  background-image: url("../images/separator.png");
  background-repeat: repeat-x;
  background-position: center;
}
.sponsor-title h2 {
  font-size: 24px;
  display: inline;
  margin-bottom: 20px;
}
.sponsor-title button {
  float: right;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
}
.sponsor-title button:hover {
  opacity: 0.4;
}

.sponsor-list {
  margin-bottom: 62px;
}
.sponsor-list li {
  float: left;
  width: 230px;
}
.sponsor-list li a:hover {
  opacity: 0.4;
}

.footer {
  padding: 45px;
  background-color: #FFF;
}
.footer li {
  float: left;
  width: 235px;
  margin-right: 25px;
}

.footer-list1 a {
  display: inline-block;
  margin-bottom: 45px;
}
.footer-list1 a:hover {
  opacity: 0.4;
}
.footer-list1 h4 {
  font-size: 26px;
  margin-bottom: 20px;
}
.footer-list1 li {
  float: left;
  width: 40px;
  margin-right: 5px;
}

.footer-list2 h4 {
  font-size: 26px;
  margin-bottom: 25px;
}
.footer-list2 li {
  width: 266px;
  height: 70px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.footer-list2 li img {
  float: left;
  margin-right: 10px;
}
.footer-list2 li h5 {
  font-size: 16px;
  padding: 12px;
}
.footer-list2 li p {
  font-size: 14px;
}

.footer-list3 {
  padding-left: 30px;
}
.footer-list3 h4 {
  font-size: 26px;
  margin-bottom: 25px;
}
.footer-list3 p {
  margin-bottom: 8px;
  font-size: 14px;
}
.footer-list3 .info1, .footer-list3 .info2 {
  margin-bottom: 35px;
}

.footer-list4 h4 {
  font-size: 26px;
  margin-bottom: 25px;
}
.footer-list4 li {
  margin-bottom: 10px;
}
.footer-list4 .list4-left {
  float: left;
}
.footer-list4 .list4-left p {
  padding: 5px 0px 0px 23px;
}
.footer-list4 .list4-right {
  float: right;
  background-color: #f6f4f5;
  width: 148px;
  height: 95px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1px solid #dcdcdc;
  background-image: url("../images/comma.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.footer-list4 .list4-right p {
  padding: 15px;
  font-size: 12px;
}

.bottombar {
  background-color: #000;
}

.bottombar-left {
  float: left;
  padding: 12px 0px 7px 45px;
}
.bottombar-left li {
  display: inline;
}
.bottombar-left li a {
  color: #7b7b7b;
  margin-right: 10px;
  font-size: 14px;
}
.bottombar-left li a:hover {
  color: pink;
}
.bottombar-left li span {
  color: #7b7b7b;
  margin-right: 5px;
}

.bottombar-right {
  float: right;
  color: #7b7b7b;
  padding: 12px 50px 7px 0px;
  font-size: 14px;
}

/*# sourceMappingURL=all.css.map */
