@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

ol, ul {
  list-style: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

a:focus {
  outline: thin dotted;
}
a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
}

q {
  quotes: "“" "”" "‘" "’";
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix {
  zoom: 1;
}
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

html {
  font-family: sans-serif;
  line-height: 1;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: black;
}

.header, .recent-products, .recent-products .products ul li .price, .featured-products, .featured-products .products ul li .price {
  zoom: 1;
}
.header:before, .recent-products:before, .recent-products .products ul li .price:before, .featured-products:before, .featured-products .products ul li .price:before {
  content: "";
  display: table;
}
.header:after, .recent-products:after, .recent-products .products ul li .price:after, .featured-products:after, .featured-products .products ul li .price:after {
  content: "";
  display: table;
  clear: both;
}

.slider {
  -moz-box-shadow: 0 0 10px #777777;
  -webkit-box-shadow: 0 0 10px #777777;
  box-shadow: 0 0 10px #777777;
}

body {
  background-image: url("../images/bg.png");
}

.wrap {
  width: 1180px;
  margin: 0 auto;
}

.highlight {
  color: #9cb929;
}

.topbar {
  background-color: #FFF;
}
.topbar .topgreen {
  background-color: #9cb929;
  width: 100%;
  height: 2px;
}
.topbar .topbar-left {
  display: inline-block;
  padding: 10px 0px 10px 100px;
  margin-right: 195px;
}
.topbar .topbar-left p {
  display: inline;
  color: #7b7b7b;
}
.topbar .topbar-left p a:hover {
  color: pink;
}
.topbar .topbar-left select {
  margin-right: 30px;
}
.topbar .topbar-right {
  display: inline-block;
}
.topbar .topbar-right li {
  display: inline;
}
.topbar .topbar-right li a {
  color: #7b7b7b;
  margin-right: 10px;
}
.topbar .topbar-right li a:hover {
  color: pink;
}
.topbar .topbar-right li span {
  color: #7b7b7b;
  margin-right: 5px;
}

.header {
  margin-bottom: 35px;
}
.header .logo {
  padding: 40px 0px 10px 100px;
  float: left;
}
.header .logo a {
  background-image: url("../images/logo.png");
  width: 314px;
  height: 55px;
  background-repeat: no-repeat;
  display: block;
  text-indent: -99999px;
}
.header .header-right {
  float: right;
  margin-top: 45px;
}
.header .header-right .search-input {
  width: 202px;
  height: 38px;
  padding-left: 10px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}
.header .header-right .search-button {
  background-image: url("../images/search.png");
  width: 40px;
  height: 40px;
  padding: 13px;
  margin-left: -6px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 0px;
  background-repeat: no-repeat;
  margin-right: 5px;
}
.header .header-right .search-button:hover {
  opacity: 0.4;
}
.header .header-right ul {
  display: inline-block;
  position: relative;
  top: 12px;
}
.header .header-right ul li {
  display: inline;
}
.header .header-right ul li a {
  display: inline-block;
}
.header .header-right ul li a:hover {
  opacity: 0.4;
}
.header .header-right ul li .rss {
  background-image: url("../images/rss.png");
  width: 40px;
  height: 40px;
}
.header .header-right ul li .pinterest {
  background-image: url("../images/pinterest.png");
  width: 40px;
  height: 40px;
}
.header .header-right ul li .facebook {
  background-image: url("../images/facebook.png");
  width: 40px;
  height: 40px;
}
.header .header-right ul li .twitter {
  background-image: url("../images/twitter.png");
  width: 40px;
  height: 40px;
}
.header .header-right ul li .dribble {
  background-image: url("../images/dribble.png");
  width: 40px;
  height: 40px;
}

.menu {
  padding: 20px 0px;
  margin-bottom: 60px;
}
.menu .separator {
  background-image: url("../images/separator.png");
  height: 15px;
}
.menu ul {
  display: inline;
  margin-right: 310px;
}
.menu ul li {
  display: inline;
  font-size: 18px;
  margin-right: 35px;
}
.menu ul li a:hover {
  color: #9cb929;
}
.menu button {
  margin: 10px 0px;
  padding: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
  vertical-align: middle;
}
.menu button:hover {
  opacity: 0.4;
}
.menu button span {
  display: inline;
  position: relative;
  top: -5px;
}

.slider {
  background-color: #FFF;
  margin-bottom: 60px;
}
.slider .quote {
  padding: 10px;
}
.slider .quote span {
  font-size: 32px;
  margin-right: 100px;
  vertical-align: middle;
}
.slider .quote button {
  width: 180px;
  height: 50px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
}
.slider .quote button:hover {
  opacity: 0.4;
}

.recent-products {
  margin-bottom: 65px;
}
.recent-products .title {
  margin-bottom: 20px;
}
.recent-products .title h2 {
  font-size: 24px;
  display: inline;
  margin-bottom: 20px;
}
.recent-products .title .separator {
  display: inline-block;
  text-indent: -9999px;
  width: 845px;
  background-image: url("../images/separator.png");
}
.recent-products .title button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
}
.recent-products .title button:hover {
  opacity: 0.4;
}
.recent-products .products ul li {
  width: 277px;
  float: left;
  background-color: #fff;
  margin-right: 18px;
}
.recent-products .products ul li .price {
  position: relative;
  padding: 10px 0px;
  border-bottom: 2px solid #e7e7e7;
}
.recent-products .products ul li .price .sale {
  position: absolute;
  top: 10;
}
.recent-products .products ul li .price span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 15px 0px 0px 10px;
  margin-right: 80px;
}
.recent-products .products ul li .price button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #878787 40%, #878787 100%);
  padding: 10px;
  float: right;
  font-size: 12px;
}
.recent-products .products ul li .price button:hover {
  opacity: 0.4;
}
.recent-products .products ul li .introduction {
  padding: 10px;
  border-bottom: 2px solid #e7e7e7;
}
.recent-products .products ul li .introduction h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.recent-products .products ul li .introduction p {
  font-size: 14px;
  line-height: 1.8;
  color: #808080;
}
.recent-products .products ul li .view {
  padding: 10px;
}
.recent-products .products ul li .view a {
  font-size: 16px;
  color: #9cb929;
}
.recent-products .products ul li .view a:hover {
  opacity: 0.4;
}

.featured-products {
  margin-bottom: 65px;
}
.featured-products .title {
  margin-bottom: 20px;
}
.featured-products .title h2 {
  font-size: 24px;
  display: inline;
  margin-bottom: 20px;
}
.featured-products .title .separator {
  display: inline-block;
  text-indent: -9999px;
  width: 815px;
  background-image: url("../images/separator.png");
}
.featured-products .title button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100%);
}
.featured-products .title button:hover {
  opacity: 0.4;
}
.featured-products .products ul li {
  width: 277px;
  float: left;
  background-color: #fff;
  margin-right: 18px;
}
.featured-products .products ul li .price {
  position: relative;
  padding: 10px 0px;
  border-bottom: 2px solid #e7e7e7;
}
.featured-products .products ul li .price .sale {
  position: absolute;
  top: 10;
}
.featured-products .products ul li .price span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  padding: 15px 0px 0px 10px;
  margin-right: 80px;
}
.featured-products .products ul li .price button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  background-image: linear-gradient(to top, #878787 40%, #878787 100%);
  padding: 10px;
  float: right;
  font-size: 12px;
}
.featured-products .products ul li .price button:hover {
  opacity: 0.4;
}
.featured-products .products ul li .introduction {
  padding: 10px;
  border-bottom: 2px solid #e7e7e7;
}
.featured-products .products ul li .introduction h3 {
  font-size: 20px;
  margin-bottom: 15px;
}
.featured-products .products ul li .introduction p {
  font-size: 14px;
  line-height: 1.8;
  color: #808080;
}
.featured-products .products ul li .view {
  padding: 10px;
}
.featured-products .products ul li .view a {
  font-size: 16px;
  color: #9cb929;
}
.featured-products .products ul li .view a:hover {
  opacity: 0.4;
}

/*# sourceMappingURL=all.css.map */
