%button-style
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    color: #fff
    background-image: linear-gradient(to top, #7fa51e 40%, #dbe350 100% )

%border-shadow
    -moz-box-shadow: 0 0 10px #777777
    -webkit-box-shadow: 0 0 10px #777777
    box-shadow: 0 0 10px #777777