body
    background-image: url("../images/bg.png")

.wrap
    width: $wrap-width
    margin: 0 auto

.highlight
    color: $highlight-color

.green-bar
    background-color: #9cb929
    width: 100%
    height: 2px

.topbar
    background-color: #FFF
    .topbar-left
        display: inline-block
        padding: 10px 0px 10px 100px
        margin-right: 195px
        p
            display: inline
            color: $text-color
            a
                &:hover
                    color: $hover-color
        select
            margin-right: 30px
    .topbar-right
        display: inline-block
        li
            display: inline
            a
                color: $text-color
                margin-right: 10px
                &:hover
                    color: $hover-color
            span
                color: $text-color
                margin-right: 5px

.header
    @extend %clearfix 
    margin-bottom: 35px
    .logo
        padding: 40px 0px 10px 100px
        float: left
        a
            +bg('logo.png')
            background-repeat: no-repeat
            display: block
            text-indent: -99999px
    .header-right
        float: right
        margin-top: 45px
        .search-input
            width: 202px
            height: 38px
            padding-left: 10px
            -webkit-border-radius: 5px 0px 0px 5px
            -moz-border-radius: 5px 0px 0px 5px
            border-radius: 5px 0px 0px 5px
        .search-button
            +bg('search.png')
            padding: 13px
            margin-left: -6px
            -webkit-border-radius: 5px
            -moz-border-radius: 5px
            border-radius: 5px
            border: 0px
            background-repeat: no-repeat
            margin-right: 5px
            &:hover
                opacity: $hover-opacity
        ul
            display: inline-block
            position: relative
            top: 12px
            li
                display: inline
                a
                    display: inline-block
                    &:hover
                        opacity: $hover-opacity
                .rss
                    +bg('rss.png')
                .pinterest
                    +bg('pinterest.png')
                .facebook
                    +bg('facebook.png')
                .twitter
                    +bg('twitter.png')
                .dribble
                    +bg('dribble.png')                    

.menu
    padding: 20px 0px
    margin-bottom: 60px
    .separator
        background-image: url("../images/separator.png")
        height: 15px
    ul
        display: inline
        margin-right: 310px
        li
            display: inline
            font-size: 18px
            margin-right: 35px
            a:hover
                color: $highlight-color
    button
        margin: 10px 0px
        padding: 10px
        +btn(#7fa51e, #dbe350)
        vertical-align: middle
        &:hover
            opacity: $hover-opacity
        span
            display: inline
            position: relative
            top: -5px

.slider
    background-color: #FFF
    margin-bottom: 60px
    @extend %border-shadow
    .quote
        padding: 10px
        span
            font-size: 32px
            margin-right: 100px
            vertical-align: middle
        button
            width: 180px
            height: 50px
            +btn(#7fa51e, #dbe350)
            &:hover
                opacity: $hover-opacity 

.recent-products
    margin-bottom: 65px
    @extend %clearfix
    .title
        margin-bottom: 20px
        h2
            font-size: 24px
            display: inline
            margin-bottom: 20px
        .separator
            display: inline-block
            text-indent: -9999px
            width: 845px
            background-image: url("../images/separator.png")
        button
            +btn(#7fa51e, #dbe350)
            &:hover
                opacity: $hover-opacity
    .products
        ul
            li
                width: 277px
                float: left
                background-color: #fff
                margin-right: 18px
                .price
                    @extend %clearfix
                    position: relative
                    padding: 10px 0px
                    border-bottom: 2px solid #e7e7e7
                    .sale
                        position: absolute
                        top: 10
                    span
                        display: inline-block
                        vertical-align: middle
                        font-size: 18px
                        padding: 15px 0px 0px 10px
                        margin-right: 80px
                    button
                        +btn(#878787, #878787)
                        padding: 10px
                        float: right
                        font-size: 12px
                        &:hover
                            opacity: $hover-opacity
                .introduction
                    padding: 10px
                    border-bottom: 2px solid #e7e7e7
                    h3
                        font-size: 20px
                        margin-bottom: 15px
                    p
                        font-size: 14px
                        line-height: 1.8
                        color: #808080
                .view
                    padding: 10px
                    a
                        font-size: 16px
                        color: $highlight-color
                        &:hover
                            opacity: $hover-opacity

.featured-products
    margin-bottom: 65px
    @extend %clearfix
    .title
        margin-bottom: 20px
        h2
            font-size: 24px
            display: inline
            margin-bottom: 20px
        .separator
            display: inline-block
            text-indent: -9999px
            width: 815px
            background-image: url("../images/separator.png")
        button
            +btn(#7fa51e, #dbe350)
            &:hover
                opacity: $hover-opacity
    .products
        ul
            li
                width: 277px
                float: left
                background-color: #fff
                margin-right: 18px
                .price
                    @extend %clearfix
                    position: relative
                    padding: 10px 0px
                    border-bottom: 2px solid #e7e7e7
                    .sale
                        position: absolute
                        top: 10
                    span
                        display: inline-block
                        vertical-align: middle
                        font-size: 18px
                        padding: 15px 0px 0px 10px
                        margin-right: 80px
                    button
                        +btn(#878787, #878787)
                        padding: 10px
                        float: right
                        font-size: 12px
                        &:hover
                            opacity: $hover-opacity
                .introduction
                    padding: 10px
                    border-bottom: 2px solid #e7e7e7
                    h3
                        font-size: 20px
                        margin-bottom: 15px
                    p
                        font-size: 14px
                        line-height: 1.8
                        color: #808080
                .view
                    padding: 10px
                    a
                        font-size: 16px
                        color: $highlight-color
                        &:hover
                            opacity: $hover-opacity

.sponsors
    @extend %clearfix
    .title
        margin-bottom: 20px
        h2
            font-size: 24px
            display: inline
            margin-bottom: 20px
        .separator
            display: inline-block
            text-indent: -9999px
            width: 815px
            background-image: url("../images/separator.png")
        button
            +btn(#7fa51e, #dbe350)
            &:hover
                opacity: $hover-opacity
    .sponsor-list
        margin-bottom: 62px
        @extend %clearfix
        ul
            li
                float: left
                width: 230px
                a:hover
                    opacity: $hover-opacity

.footer
    padding: 45px
    background-color: #FFF
    @extend %clearfix
    button
        float: right
        +btn(#7fa51e, #dbe350)
        width: 55px
        height: 55px
        margin-top: -55px
        &:hover
            opacity: $hover-opacity
    ul
        li
            float: left
            width: 235px
            margin-right: 25px
            .list1
                a
                    display: inline-block
                    margin-bottom: 45px
                    &:hover
                        opacity: $hover-opacity
                h4
                    font-size: 26px
                    margin-bottom: 20px
                ul
                    li
                        float: left
                        width: 40px
                        margin-right: 5px
            .list2
                h4
                    font-size: 26px
                    margin-bottom: 25px
                ul
                    li
                        width: 266px
                        height: 70px
                        margin-bottom: 20px
                        border: 1px solid #dddddd
                        -webkit-border-radius: 15px
                        -moz-border-radius: 15px
                        border-radius: 15px
                        img
                            float: left
                            margin-right: 10px
                        h5
                            font-size: 16px
                            padding: 12px
                        p
                            font-size: 14px
            .list3
                padding-left: 30px
                h4
                    font-size: 26px
                    margin-bottom: 25px
                p
                    margin-bottom: 8px
                    font-size: 14px
                .info1, .info2
                    margin-bottom: 35px
            .list4
                h4
                    font-size: 26px
                    margin-bottom: 25px
                ul
                    li
                        margin-bottom: 10px
                        .list-left
                            float: left
                            p
                                padding: 5px 0px 0px 23px
                        .list-right
                            float: right
                            background-color: #f6f4f5
                            width: 148px
                            height: 95px
                            -webkit-border-radius: 15px
                            -moz-border-radius: 15px
                            border-radius: 15px
                            border: 1px solid #dcdcdc
                            background-image: url("../images/comma.png")
                            background-repeat: no-repeat
                            background-position: bottom right
                            p
                                padding: 15px
                                font-size: 12px
                    
.bottombar
    background-color: #000
    @extend %clearfix
    .bottombar-left
        float: left
        padding: 12px 0px 7px 45px
        li
            display: inline
            a
                color: $text-color
                margin-right: 10px
                font-size: 14px
                &:hover
                    color: $hover-color
            span
                color: $text-color
                margin-right: 5px
    .bottombar-right
        float: right
        p
            color: $text-color
            padding: 12px 50px 7px 0px
            font-size: 14px