body
    background-image: url("/images/bg.png")

.wrap
    width: 1180px
    margin: 0 auto

.highlight
    color: $highlight-color

.topbar
    background-color: #FFF
    margin: 0 auto
    .topgreen
        background-color: #9cb929
        width: 100%
        height: 2px
    .topbar-left
        display: inline-block
        padding: 10px 0px 10px 100px
        margin-right: 150px
        p
            display: inline
            color: $text-color
            a
                &:hover
                    color: $hover-color
        select
            margin-right: 30px
    .topbar-right
        display: inline-block
        li
            display: inline
            a
                color: $text-color
                margin-right: 10px
                &:hover
                    color: $hover-color
            span
                color: $text-color
                margin-right: 5px

